* {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 18px;
    font-family: "Lora", serif;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}
h1 {
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-weight: 600;
    font-size: 40px;
}
h3 {
    font-size: 25px;
    font-weight: 600;
}
.container {
    width: 1200px;
    padding: 0 25px;
    margin: auto;
}
button {
    cursor: pointer;
}
