.wrapper_category {
    padding: 50px 0 0 0;
}
.title {
    margin-bottom: 25px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper_item {
    width: 120px;
    text-align: center;
    transition: .5s;
}
.wrapper_item:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: translateY(-3px);
}
.wrapper_item img {
    width: 120px;
    border-radius: 50%;
}

.wrapper_item h4 {
    margin-top: 20px;
    color: black;
}
