.wrapper_category{
    padding: 100px 0;
}
.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.wrapper_item {
    width: 120px;
    text-align: center;

}
.wrapper_item :hover {
    cursor: pointer;
    color: rgb(105, 105, 105);
    transition: all .3s;
    
}
.wrapper_item img {
    width: 120px;
    border-radius: 50%;
}

.wrapper_item p {
    margin-top: 20px;
    color: black;
}
