.header_wrapper {
    box-shadow: 10px 5px 5px rgb(236, 236, 236);
    padding: 20px 0;
    position: fixed;
    width: 100vw;
    z-index: 2;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}


.search input {
    padding: 15px;
    /* border: 1px solid rgb(184, 184, 184); */
    box-shadow: 5px 10px 5px rgb(236, 236, 236);
    border-radius: 15px;
    outline: none;
}
