.wrapper{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 200px;
}
.loader {
    
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-style: dashed solid  solid dotted;
    border-color: rgba(61, 159, 126, 1) rgba(61, 159, 126, 1) transparent rgba(61, 159, 126, 1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 148px;
    top: 163px;
    border: 10px solid transparent;
    border-right-color: rgba(61, 159, 126, 1);
    transform: rotate(-40deg);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  