.wrapper {
    position: absolute;
    content: "";
    left: 0;
    bottom: -450px;
    background-color: rgb(249, 249, 249);
    width: 100vw;
    padding: 25px 0 100px 0;
    
}
.recipes_block {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 1200px;
    
}
.recipes_item{
    display: grid;
    
}
.label{
    color: black
}
.view{
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(61, 159, 126, 0.5);
    margin-top: 20px;
    width: 100px;
}